*{
    margin:0;
    padding:0;
}

.productList{
    border: 2px solid red;
    margin-top: 50px;
}

.img{
    width: 300px;
    height: 300px;
}

.ajustarImg{
    width: 500px;
    height: 500px;   
}

.caja{
    width: 500px;
    height: 500px;
    border: 1px solid red;
    margin-left: 600px;
}

.ajustarTitulo{
    margin-right: 250px;
}

.fondoSection{
    background: black;
    color: white;
}

