
.moverContainer {
  margin-top: 50px;
  margin-left: 900px;
}
.counter-container {
    display: flex;
    align-items: center;
    column-gap: 1rem;
  }
  .ajustarBotones{
    margin-right: 200px;
  }

  .moverBotones{
    margin-left: 30px;
  }